$font_size:62.5%;
$txt_header1:2rem;
$txt_header2:4rem;
$txt_header3:3.5rem;
$txt_header4:3rem;
$txt_header5:2.6rem;
$txt_body:1.5rem;
$txt_big:2.4rem;


@mixin padding-x($size) {
    padding-left: $size;
    padding-right: $size;
}

@mixin padding-y($size) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin padding-start($size) {
    padding-inline-start: $size;
}

@mixin padding-end($size) {
    padding-inline-end: $size;
}

@mixin padding-contact {
    padding-right: calc(.5rem + 5vw);
    padding-left: calc(.5rem + 5vw);
}

@mixin shadow {
    box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.58);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: $font_size;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.btn-link {
    font-size: $txt_body;
    border-style: solid;
    border-width: .3rem;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem 2rem;
}

.header-main {
    @include padding-contact();
    @include shadow();
    z-index: 100;

    & .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include padding-y(2.5rem);

        & #logo {
            flex-grow: 1;
            font-size: $txt_header1;
        }

        & ul {
            display: flex;
            font-size: $txt_body;

            & li {
                margin-inline-end: 2rem;

                & a {
                    padding: 1rem;
                }
            }
        }

        &:not(.burger) {
            & .burger-icon {
                display: none;
            }

            & .wrapper {
                display: none;
            }
        }

        &.burger {
            .burger-icon {
                display: flex;
                width: 3.8rem;
                height: 2.8rem;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                cursor: pointer;

                & span {
                    padding: .2rem 0;
                    background-color: black;
                    pointer-events: none;
                }
            }

            & ul {
                min-width: 25rem;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                flex-direction: column;
                background-color: white;
                padding: 2rem 4rem;
                z-index: 200;
                @include shadow();
                transform: translateX(100%);
                transition: all .4s ease;

                & li {
                    margin-top: 1.5rem;
                }
            }

            &.open {
                ul {
                    transform: translateX(0);
                }

                & .wrapper {
                    display: block;
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba($color: #000000, $alpha: .2);
                }
            }
        }
    }
}

.content {
    & .hero {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;


        & .info {
            display: flex;
            min-width: 40rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1 1;

            & h2 {
                &::after {
                    content: "d";
                    @include padding-start(2rem);
                }

                &::before {
                    content: "b";
                    @include padding-end(2rem);
                }
            }

            & h3 {
                padding-top: 3rem;
                font-size: $txt_big;
            }

            & p {
                max-width: 40rem;
                padding-top: 3rem;
                font-size: $txt_body;
                line-height: 1.4;
                @include padding-x(3rem);
            }

            & a {
                margin-top: 3rem;
            }
        }

        & .img {
            min-width: 40rem;
            min-height: 90vh;
            flex: 1 1;
            background-image: url('../img/hero-img.jpg');
            background-size: cover;
            background-position: center;
        }
    }
}

.content .about {
    display: flex;
    flex-wrap: wrap;

    & .about-img {
        display: flex;
        min-width: 40rem;
        justify-content: center;
        flex: 1 1;
        min-height: 90vh;
        background-image: linear-gradient(rgba($color: #000000, $alpha: .2)), url('../img/about-img.jpg');
        background-size: cover;
        background-position: center;

        & h2 {
            padding-top: 10rem;
            font-size: calc(1rem + 4vw);
            color: white;
            letter-spacing: 2rem;
        }
    }

    .about-info {
        display: flex;
        min-width: 40rem;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: .7);
        flex: 1 1;
        color: white;
        @include padding-x(3rem);
        @include padding-y(10rem);

        & section {
            max-width: 60rem;
        }

        & h2 {
            font-size: 5rem;
        }

        & h3 {
            font-size: $txt_header3;
            margin-top: 5rem;
        }

        & p {
            font-size: $txt_body;
            margin-top: 2rem;
            line-height: 1.4;
        }
    }
}

.content .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
    min-height: 100vh;

    & .h-span2 {
        grid-column: auto/2 span;
    }

    & .v-span2 {
        grid-row: auto/2 span;
    }

    & .img {
        background-size: cover;
        background-position: center;
    }

    & .ps1 {
        background-image: url('../img/gallery-1.jpg');
    }

    & .ps2 {
        background-image: url('../img/gallery-2.jpg');
    }

    & .ps3 {
        background-image: url('../img/gallery-3.jpg');
    }

    & .ps4 {
        background-image: url('../img/gallery-4.jpg');
    }
}

.content .contact {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    @include padding-y(4rem);
    padding-inline-start: calc(2rem + 5vw);
    background-image: url('../img/contact-img.jpg');
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;

    .wrapper {
        & h2 {
            font-size: $txt_header3;

            &>span {
                font-size: $txt_header2;
                color: darkmagenta;
            }
        }

        & form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & label {
                margin-top: 3rem;
                font-size: $txt_body;
            }

            & input {
                font-size: $txt_body;
                padding: 1rem;
                margin-top: 1rem;
            }

            & button {
                border: none;
                background: none;
                background-color: brown;
                padding: 1.5rem 4rem;
                color: white;
                margin-top: 3rem;
                font-size: $txt_body;
                cursor: pointer;
            }
        }
    }
}

.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 4rem;
    background: rgba($color: #000000, $alpha:.9);
    color: white;

    & h2 {
        align-self: center;
        font-size: $txt_body;
    }
}