* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.btn-link {
  font-size: 1.5rem;
  border-style: solid;
  border-width: .3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1rem 2rem;
}

.header-main {
  padding-right: calc(.5rem + 5vw);
  padding-left: calc(.5rem + 5vw);
  -webkit-box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.58);
  z-index: 100;
}

.header-main .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.header-main .nav #logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2rem;
}

.header-main .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.header-main .nav ul li {
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
}

.header-main .nav ul li a {
  padding: 1rem;
}

.header-main .nav:not(.burger) .burger-icon {
  display: none;
}

.header-main .nav:not(.burger) .wrapper {
  display: none;
}

.header-main .nav.burger .burger-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.8rem;
  height: 2.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  cursor: pointer;
}

.header-main .nav.burger .burger-icon span {
  padding: .2rem 0;
  background-color: black;
  pointer-events: none;
}

.header-main .nav.burger ul {
  min-width: 25rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 2rem 4rem;
  z-index: 200;
  -webkit-box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.58);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header-main .nav.burger ul li {
  margin-top: 1.5rem;
}

.header-main .nav.burger.open ul {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-main .nav.burger.open .wrapper {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.content .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.content .hero .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.content .hero .info h2::after {
  content: "d";
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}

.content .hero .info h2::before {
  content: "b";
  -webkit-padding-end: 2rem;
          padding-inline-end: 2rem;
}

.content .hero .info h3 {
  padding-top: 3rem;
  font-size: 2.4rem;
}

.content .hero .info p {
  max-width: 40rem;
  padding-top: 3rem;
  font-size: 1.5rem;
  line-height: 1.4;
  padding-left: 3rem;
  padding-right: 3rem;
}

.content .hero .info a {
  margin-top: 3rem;
}

.content .hero .img {
  min-width: 40rem;
  min-height: 90vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
  background-position: center;
}

.content .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .about .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  min-height: 90vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))), url("../img/about-img.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url("../img/about-img.jpg");
  background-size: cover;
  background-position: center;
}

.content .about .about-img h2 {
  padding-top: 10rem;
  font-size: calc(1rem + 4vw);
  color: white;
  letter-spacing: 2rem;
}

.content .about .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.content .about .about-info section {
  max-width: 60rem;
}

.content .about .about-info h2 {
  font-size: 5rem;
}

.content .about .about-info h3 {
  font-size: 3.5rem;
  margin-top: 5rem;
}

.content .about .about-info p {
  font-size: 1.5rem;
  margin-top: 2rem;
  line-height: 1.4;
}

.content .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
  min-height: 100vh;
}

.content .gallery .h-span2 {
  grid-column: auto/2 span;
}

.content .gallery .v-span2 {
  grid-row: auto/2 span;
}

.content .gallery .img {
  background-size: cover;
  background-position: center;
}

.content .gallery .ps1 {
  background-image: url("../img/gallery-1.jpg");
}

.content .gallery .ps2 {
  background-image: url("../img/gallery-2.jpg");
}

.content .gallery .ps3 {
  background-image: url("../img/gallery-3.jpg");
}

.content .gallery .ps4 {
  background-image: url("../img/gallery-4.jpg");
}

.content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  -webkit-padding-start: calc(2rem + 5vw);
          padding-inline-start: calc(2rem + 5vw);
  background-image: url("../img/contact-img.jpg");
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
}

.content .contact .wrapper h2 {
  font-size: 3.5rem;
}

.content .contact .wrapper h2 > span {
  font-size: 4rem;
  color: darkmagenta;
}

.content .contact .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .contact .wrapper form label {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.content .contact .wrapper form input {
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.content .contact .wrapper form button {
  border: none;
  background: none;
  background-color: brown;
  padding: 1.5rem 4rem;
  color: white;
  margin-top: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 4rem;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.footer-main h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */