* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.header .nav-top .nav-list {
    display: flex;
    font-size: 1.8rem;
    min-height: 4rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    color: white;
    text-align: center;
    background-image: url('./public/pexels-veeterzy-303383.jpg');
    min-height: 80vh;
}

.content .intro {
    display: flex;
    flex-wrap: wrap;
}

.content .intro .intro-img {
    flex: 1 1 40rem;
}

.content .intro .intro-img img {
    width: 100%;
}

.content .intro .intro-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    flex: 1 1 40rem;
    padding: 2rem;
}
