* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.main-head {
    position: sticky;
    top: 0px;
}

/* Nav Section */
.main-head .nav {
    display: flex;
    min-height: 7vh;
    align-items: center;
    justify-content: space-between;
    padding: 0px calc(2.5vw);
    background-color: darkslategrey;
    color: white;
}

.main-head .nav .nav-list {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    flex: 1 1 30rem;
}

#logo {
    font-size: 2.5rem;
    flex: 2 3 10rem;
    margin-inline-end: calc(3vw);
}

/* Hero Section */
.hero {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .5), transparent), url('../img/pexels-nappy-1058959.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h2 {
    font-size: 4.8rem;
}

.hero h3 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}

.hero .hero-btn {
    font-size: 2rem;
    border: 0;
    background: darkolivegreen;
    color: white;
    padding: 1rem 4.5rem;
}

/* Location Section */
.location {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(10vw) calc(2.5vw);
    background-image: linear-gradient(rgba(255, 255, 255, .4), transparent), url('../img/pexels-chris-schippers-421927.jpg');
    background-size: cover;
    background-position: center;
}

.location .location-header {
    font-size: 3rem;
    padding-block-end: calc(.5vw);
    margin-block-end: calc(4vw);
    border-bottom-style: solid;
    border-width: .5rem;
    border-color: black;
}

.location .location-body {
    font-size: 2.5rem;
    background-color: white;
    background-clip: text;
    color: rgba(0, 0, 0, .9);
}

/* Benefits Section */
.benefits-head {
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkorchid;
}

.benefits-head h2 {
    font-size: 4rem;
    padding-bottom: 2vh;
}

.benefits-head p {
    font-size: 2.5rem;
    text-align: center;
}

.benefits .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem calc(2.5vw);
}

.benefits .cards .card {
    min-height: 40rem;
    flex-basis: 30rem;
    background-color: bisque;
    box-shadow: -8px 12px 34px -3px rgba(0, 0, 0, 0.56);
}

.benefits .cards .card .head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    padding: 2rem 0;
}

.benefits .cards .head .icon {
    width: 15rem;
    height: 15rem;
}

.benefits .cards .card .body {
    display: flex;
    min-height: 20rem;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.benefits .cards .card .body h3 {
    font-size: 3rem;
    text-align: center;
}

.benefits .cards .card .body p {
    font-size: 2rem;
    text-align: center;
}

/* ContactUs Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: url('../img/pexels-felix-mittermeier-2832061.jpg');
    background-size: cover;
    background-position: center;
}

.contact .form-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    min-height: 50vh;
    background: rgba(0, 0, 0, .5);
    border-radius: 1rem;
    overflow: hidden;
}

.contact .form-wrapper header {
    font-size: 3rem;
    text-align: center;
    color: white;
    padding: 2rem 0;
}

.contact .form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact .form .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.contact .form .input {
    padding: 3rem;
}

.contact .form .input label {
    color: white;
    font-size: 2rem;
    padding-inline-end: 2rem;
}

.contact .form .input input {
    font-size: 2rem;
    border: none;
    background-color: blanchedalmond;
    padding: 1rem;
}

.contact button {
    border: none;
    background-color: rgb(46, 44, 44);
    font-size: 3rem;
    padding: 1.5rem 0;
    color: white;
    cursor: pointer;
    transition: all .2s ease;
}

.contact button:hover {
    background-color: rgb(63, 218, 49);
    color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    padding: 2rem;
}

.footer h2 {
    font-size: 2rem;
}

.footer .sociol-media {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.footer .sociol-media .icon {
    width: 3rem;
    height: 3rem;
    background-color: white;
    margin-inline-end: 2rem;
    border-radius: 1rem;
    padding: .2rem;
}